body {
  padding-top: 30px;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

h1,
h3{
  text-align: center;
}

.user-data_wrap {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 4px;
}

.user-data {
  background: linear-gradient(90deg, #b9deed, #efefef);
  position: relative;
  background-color: #fff;
  border: 1.5px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.10);
  transition: all .3s;
}

.user-data:hover {
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.12);
}

.user-data_row {
  display: flex;
}

.user-data_remove {
  position: absolute;
  font-size: 32px;
  top: 5px;
  right: 20px;
  color: #aaa;
  transition: color .3s;
}

.user-data_remove:hover {
  cursor: pointer;
  color: #000;
}

.rm_users_btn{
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  top: 30px;
  right: 90px;
}